a{
    font-size: 20px;
    width: 400px;
    border-radius: 30px;
    background-color: skyblue;
    color: white;
}
body{
    background-size: cover;
    background-position: center;
}
canvas{
    box-shadow: 10px 10px 10px purple;
    border-radius: 10px;
    margin-top: 60px;
}
